.myContainer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ddd;
}
form{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top:-16px;
    margin-left:-228px;
    text-align: center;
}
